<!-- <div
  class="lg:px-[5rem] grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 min-h-[21.875rem] xl:px-[15rem] px-4"
>
  @for( product of productData; track $index) {

  <div
    class="card p-3 flex flex-col gap-[1.25rem]shadow shadow-gray-300 m-1 shadow hover:shadow-lg transition-all duration-600 hover:shadow-green-400"
  >
    <div class="card-img-top group relative cursor-pointer">
      <div
        class="absolute flex justify-end items-start top-0 end-0 opacity-0 group-hover:opacity-100 duration-400 transition-all bottom-0 z-[100]"
      >
        <img src="/imgs/eye.gif" class="size-10 mx-auto" alt="view" />
      </div>
      <img
        [src]="product.image"
        class="w-full h-[15rem] object-cover"
        alt="product.title"
      />
      <span
        class="absolute top-0 left-0 bg-[#35AFA0] text-white text-xs font-bold px-3 py-1 rounded"
      >
        15%
      </span>
    </div>
    <div class="card-body">
      <h4 class="card-text font-semibold text-sm mb-1 text-[#35AFA0]">
        {{ product.title.split(" ", 3).join(" ") }}
      </h4>
      <p class="card-text h-[2.5rem] font-semibold text-sm line-clamp-2">
        {{ product.description }}
      </p>
      <span class="text-[#00b853] font-semibold uppercase text-xs">
        {{ product.quantity + " In stock" }}
      </span>
      <div class="star-review flex items-center my-2">
        @for (star of [1,2,3,4,5]; track $index) {
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
          class="w-4 h-4 text-[#ffcd00]"
        >
          <path
            d="M10 15.27l-5.18 2.73 1-5.82L1 7.24l6-.87L10 1l3 5.37 6 .87-4.82 4.94 1 5.82L10 15.27z"
          />
        </svg>
        }
        <span class="text-xs ms-2 text-gray-500 font-semibold"> review</span>
      </div>
      <div class="discount text-xs flex items-center gap-2 my-2 relative">
        <span class="text-gray-400 font-semibold line-through"
          >$ {{ product.price }}</span
        >
        <span class="text-red-600 text-lg font-semibold"
          >$ {{ product.price }}
        </span>
      </div>
    </div>
  </div>
  }
</div>


 -->
<section
  class="shop px-2 lg:px-[5rem] gap-3 xl:px-[15rem] bg-white dark:bg-black"
>
  <div class="grid grid-cols-5 gap-2">
    <div class="max-md:col-span-4 md:col-span-1 relative">
      <aside
        [class.dark:bg-transprente]="translate()"
        [class.max-md:translate-x-[92%]]="translate()"
        class="transition-all duration-300 max-md:bg-transparent max-md:bg-white dark:bg-[#080a2A] dark:text-white space-y-4 p-3 max-md:ps-8 overflow-y-auto grid grid-cols-1 max-md:fixed z-[500] end-0 top-0 bottom-0 md:bg-white gap-4 uppercase text-sm justify-between"
      >
        <div class="">
          <img
            src="/imgs/sidebar-banner.gif.png"
            class="rounded my-2"
            alt="sidebar-banner"
          />
        </div>
        <button
          (click)="toggle()"
          [class.-rotate-180]="translate()"
          class="cursor-pointer md:hidden size-[2.5rem] bg-green-700 absolute rounded-full start-[0rem] top-[40%]"
        >
          <i class="text-xl text-white font-bold fa fa-angle-right"></i>
        </button>

        <!-- Categories -->
        <div class="space-y-6">
          <div class="p-4">
            <h2 class="font-semibold mb-2">Product Categories</h2>
            @for (category of categories(); track $index) {
            <label
              class="flex items-center mb-3 shadow-sm hover:shadow-md py-3 px-2 cursor-pointer hover:translate-x-2 transition-all duration-300 space-x-2"
            >
              <input
                type="checkbox"
                (change)="
                  toggleCategory(category, isCategoryChecked[$index], $index)
                "
              />
              <span class="capitalize font-medium">{{ category }}</span>
            </label>
            }
          </div>
        </div>
      </aside>
    </div>

    <div class="max-md:col-span-5 col-span-4">
      <div class="grid grid-cols-1">
        <div class="baner">
          <div class="relative rounded-md overflow-hidden">
            <img
              src="/imgs/cookis1.jpg"
              class="w-full h-[350px] my-2"
              alt="bacola"
            />
            <div
              class="flex flex-col justify-center items-center absolute w-full h-full top-0 -bottom-0"
            >
              <div
                class="text-gray-900 items-center flex flex-col items-start gap-2"
              >
                <p>Organic clothes Prepared</p>
                <h3 class="font-bold text-lg lg:text-3xl">
                  Delivered to <span class="text-green-400">your Home</span>
                </h3>
                <p class="text-gray-100 text-xs capitalize">
                  Fully prepared & delivered nationwide.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="search-bar flex items-center gap-3 max-md:px-5 bg-gray-100 dark:bg-[#08090A] dark:text-gray-300 p-3 rounded-md my-1"
        >
          <div class="my-3 w-full">
            <label
              for="default-search"
              class="mb-2 text-sm font-medium text-gray-900 sr-only"
              >Search</label
            >
            <div class="relative">
              <div
                class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
              >
                <svg
                  class="w-4 h-4 text-gray-500 max-md:text-xs dark:text-gray-400"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 20 20"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
                  />
                </svg>
              </div>
              <input
                [(ngModel)]="searchWord"
                id="default-search"
                type="search"
                (keyup.enter)="onSearchChange()"
                (input)="onSearchChange()"
                class="block w-full p-4 ps-10 text-sm text-gray-900 dark:text-gray-300 border border-gray-300 rounded-lg focus:ring-green-500 focus:outline-[var(--color-main-color)] focus:border-green-500"
                placeholder="Search by title of prooduct..."
                required
              />
            </div>
          </div>
          <div class="flex justify-between flex-col-reverse md:flex-row">
            <select
              class="border rounded dark:bg-[#08090A] px-3 py-2"
              (change)="sortProducts(getNameOption($event))"
            >
              <option value="a-z">Sort by: A-Z</option>
              <option value="z-a">Sort by: Z-A</option>
              <option value="asc">Price Low to High</option>
              <option value="desc">Price High to Low</option>
            </select>
          </div>
        </div>
        @if(loading() && filteredProducts()) {
        <div class="flex justify-center my-2 items-center h-[50vh]">
          <img src="/imgs/loading.gif" class="rounded w-1/2" alt="loading" />
        </div>
        }@else{
        <div class="search">
          <div
            class="grid grid-cols-4 max-md:grid-cols-2 mb-5 max-lg:grid-cols-3"
          >
            @for (product of filteredProducts(); track product.id) {

            <div
              [routerLink]="['/productsdetails', product.id]"
              class="card dark:bg-[#08093a] cursor-pointer p-3 flex flex-col gap-[2.25rem]shadow shadow-gray-300 m-1 shadow hover:shadow-lg transition-all duration-600 hover:shadow-green-400"
            >
              <div class="card-img-top group relative cursor-pointer">
                <div
                  class="absolute flex justify-end items-start top-0 end-0 opacity-0 group-hover:opacity-100 duration-400 transition-all bottom-0 z-[100]"
                >
                  <img src="/imgs/eye.gif" class="size-10 mx-auto" alt="view" />
                </div>
                <img
                  [src]="product.image"
                  class="w-full h-[250px] object-contain"
                  [alt]="product.title"
                />
                <span
                  class="absolute top-0 left-0 bg-[#35AFA0] text-white text-xs font-bold px-3 py-1 rounded"
                >
                  15%
                </span>
              </div>
              <div class="card-body">
                <p
                  class="card-text h-[4rem] mt-1 font-semibold md:text-lg dark:text-gray-100 line-clamp-2"
                >
                  {{ product.title.split(" ", 4).join(" ") }}
                </p>
                <span class="text-[#00b853] font-semibold uppercase text-xs"
                  >IN STOCK</span
                >
                <div class="star-review flex items-center my-2">
                  @for (star of [1,2,3,4,5].slice(0, product.rating.rate); track
                  $index) {
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    class="w-4 h-4 text-[#ffcd00]"
                  >
                    <path
                      d="M10 15.27l-5.18 2.73 1-5.82L1 7.24l6-.87L10 1l3 5.37 6 .87-4.82 4.94 1 5.82L10 15.27z"
                    />
                  </svg>
                  } @if (product.rating.rate%1===0) {
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    class="w-4 h-4 text-[#ffade0]"
                  >
                    <path
                      d="M10 15.27l-5.18 2.73 1-5.82L1 7.24l6-.87L10 1l3 5.37 6 .87-4.82 4.94 1 5.82L10 15.27z"
                    />
                  </svg>
                  }
                  <span class="text-xs ms-2 text-gray-500 font-semibold"
                    >{{ product.rating.count }} review</span
                  >
                </div>
                <div
                  class="discount text-xs flex items-center gap-2 my-2 relative"
                >
                  <span class="text-red-600 text-lg font-semibold"
                    >$ {{ product.price }}
                  </span>
                </div>
              </div>
            </div>

            }@empty {
            <div class="text-center text-2xl text-red-500 col-span-4 my-4">
              No products Found.
            </div>
            }
          </div>
        </div>

        }
      </div>
    </div>
  </div>
</section>
